<div class="p-0 m-0">
  <ul
    class="absolute flex flex-col justify-between items-center p-[16px] top-[20px] bottom-[20px] bg-[#FFFFFF] shadow-[0_4px_16px_0px_rgba(17, 17, 17, 0.02)] rounded-[16px]"
    [ngClass]="{
      'w-[243px]': !isCollapsed,
      'w-[88px]': isCollapsed
    }"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
    nz-menu
    nzMode="inline"
    nzTheme="light"
    [nzInlineCollapsed]="isCollapsed"
  >
    <div class="m-0 p-0 h-full justify-start flex flex-col">
      <li
        *ngFor="let item of buttons"
        nz-tooltip
        nz-button
        nzType="text"
        (click)="onMenuButton(item)"
        [ngClass]="{
          'w-[211px] p-[16px]': !isCollapsed,
          'w-[56px] justify-center': isCollapsed,
          'cursor-pointer': !item.disable,
          'bg-[#452EB2] text-white': item.isActive,
          'opacity-50 cursor-not-allowed': item.disable
        }"
        class="flex flex-none flex-row align-canter items-center w-[211px] rounded-[16px] h-[56px]"
      >
        <img
          [ngClass]="{ 'brightness-0 invert': item.isActive }"
          class="w-[24px] h-[24px]"
          [src]="item.icon"
          alt=""
        />
        <span
          *ngIf="!isCollapsed"
          [ngClass]="{ 'text-[#F8F7FC]': item.isActive }"
          class="text-[#452EB2] text-[16px] tracking-[.015rem] mx-[8px]"
          >{{ item.name }}</span
        >
        <nz-badge
          *ngIf="item.badge && !isCollapsed"
          nzStandalone
          [nzStyle]="{ backgroundColor: '#D94545', 'font-size': '10px' }"
          class="w-auto sticky w-[24px] h-[24px] left-[171px] top-[16px] text-[10px]"
          [nzCount]="item.badge"
        ></nz-badge>
        <img
          *ngIf="item.secondIcon && !isCollapsed"
          class="sticky w-[24px] h-[24px] left-[171px] top-[16px] text-[10px]"
          [ngClass]="{ 'brightness-0 invert': item.isActive }"
          [src]="item.secondIcon"
          alt=""
        />
      </li>
    </div>
    <div class="m-0 p-0">
      <li
        nz-tooltip
        nz-button
        nzType="text"
        [ngClass]="{
          ' w-[211px] p-[16px]': !isCollapsed
        }"
        class="w-[211px] rounded-[16px] h-[56px] flex flex-none flex-row align-canter items-center"
      >
        <img
          *ngIf="!isCollapsed || !isLocked"
          (click)="toggleLocked()"
          class="cursor-pointer w-[24px] h-[24px]"
          [src]="lockedIcon"
          alt=""
        />
        <span
          (click)="toggleLocked()"
          *ngIf="!isCollapsed"
          class="cursor-pointer text-[#452EB2] text-[16px] tracking-[.015rem] mx-[8px]"
        >
          {{ lockedStatus }}
        </span>
        <img
          *ngIf="isLocked"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{ 'left-[171px]': !isCollapsed }"
          class="cursor-pointer sticky w-[24px] h-[24px] top-[16px]"
          [src]="isCollapsed ? ARROW_RIGHT_ICON : ARROW_LEFT_ICON"
          alt=""
        />
      </li>
    </div>
  </ul>
</div>
