<div class="p-0 m-0">
  <ul
    class="absolute flex flex-col justify-between items-center p-4 top-5 bottom-5 bg-white shadow rounded-2xl transition-all duration-200"
    [ngClass]="[isCollapsed ? 'w-22' : 'w-60']"
    nz-menu
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
    nzMode="inline"
    nzTheme="light"
    [nzInlineCollapsed]="isCollapsed"
  >
    <div class="m-0 p-0 h-full justify-start flex flex-col">
      <li
        *ngFor="let item of buttons"
        nz-tooltip
        nz-button
        nzType="text"
        (click)="onMenuButton(item)"
        [ngClass]="{
          'w-52 p-4': !isCollapsed,
          'w-14 justify-center': isCollapsed,
          'cursor-pointer': !item.disable,
          'bg-primary text-white': item.isActive,
          'opacity-50 cursor-not-allowed': item.disable
        }"
        class="flex flex-none flex-row align-canter items-center w-52 rounded-2xl h-14"
      >
        <img
          [ngClass]="{ 'brightness-0 invert': item.isActive }"
          class="w-6 h-6"
          [src]="item.icon"
          alt=""
        />
        <span
          *ngIf="!isCollapsed"
          [ngClass]="{
            'text-white': item.isActive,
            'text-primary': !item.isActive
          }"
          class="text-base tracking-wide mx-2"
          >{{ item.name }}</span
        >
        <nz-badge
          *ngIf="item.badge && !isCollapsed"
          nzStandalone
          [nzStyle]="{ backgroundColor: '#D94545', 'font-size': '10px' }"
          class="w-auto sticky h-6 left-44 top-4 text-xs"
          [nzCount]="item.badge"
        ></nz-badge>
        <img
          *ngIf="item.secondIcon && !isCollapsed"
          class="sticky w-6 h-6 left-44 top-4 text-xs"
          [ngClass]="{ 'brightness-0 invert': item.isActive }"
          [src]="item.secondIcon"
          alt=""
        />
      </li>
    </div>
    <div class="m-0 p-0">
      <li
        nz-tooltip
        nz-button
        nzType="text"
        [ngClass]="{
          ' w-52 p-4': !isCollapsed
        }"
        class="w-52 rounded-2xl h-14 flex flex-none flex-row align-canter items-center"
      >
        <img
          *ngIf="!isCollapsed || !isLocked"
          (click)="toggleLocked()"
          class="cursor-pointer w-6 h-6"
          [src]="lockedIcon"
          alt=""
        />
        <span
          (click)="toggleLocked()"
          *ngIf="!isCollapsed"
          class="cursor-pointer text-primary text-base tracking-wide mx-2"
        >
          {{ lockedStatus }}
        </span>
        <img
          *ngIf="isLocked"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{ 'left-44': !isCollapsed }"
          class="cursor-pointer sticky w-6 h-6 top-4"
          [src]="isCollapsed ? ARROW_RIGHT_ICON : ARROW_LEFT_ICON"
          alt=""
        />
      </li>
    </div>
  </ul>
</div>
